<div class="container">
  <div class="row">
    <div class="col-md-4 text-right mb-4">
      <h3>商品詳細</h3>
    </div>
  </div>
  <div class="row mt3">
    <div class="col-md-4 text-right">
      <%= attachment_image_tag @item, :image, fallback: "no-image.png", size: "200x200" %>
    </div>
    <div class="col-md-8">
      <table class= "table">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.explanation %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格</th>
          <td><%= @item.price %>円</td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <% if @item.is_active == false %>
             <td class= "text-success">販売中</td>
          <% else %>
            <td>販売停止中</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success w-50" %>
    </div>
  </div>
</div>