<div class="container">
  <div class="row mb-3">
    <div class="col-md-8">
      <h3>注文情報確認</h3>
    </div>

  </div>
  <div class="row">
    <div class="col-md-8">
      <table class= "table table-bordered">
        <tr class= "thead-light">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <div class="form-inline">
              <%= attachment_image_tag cart_item.item, :image, fallback: "no-image.png", size: "50x50" %>
              <p class= "ml-3 mb-0"><%= cart_item.item.name %></p>
            </div>
          </td>
          <td>
            <p class= "mt-2"><%= tax_price(cart_item.item.price).to_s(:delimited) %></p>
          </td>
          <td>
            <div class="form-inline">
              <p class= "mb-0 mt-2"><%= cart_item.amount %></p>
            </div>
          </td>
          <td>
            <p class= "mt-2"><%= sub_price(cart_item).to_s(:delimited) %></p>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <table class= "table table-bordered">
        <tr>
          <th class= "table-active">送料</th>
          <td>¥<%= @order.postage %></td>
        </tr>
        <tr>
          <th class= "table-active">商品合計</th>
          <td>¥<%= total_price(@cart_items).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class= "table-active">合計金額</th>
            <td>¥<%= billing(@order).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class= "table-active">ご請求金額</th>
          <td>¥<%= (@order.total_price + @order.postage).to_s(:delimited)  %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class= "table table-bordered">
        <tr>
          <th class= "table-active">支払い方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
         <tr>
          <th class= "table-active">お届け先</th>
          <td><%= "〒#{@order.postal_code} #{@order.address} #{@order.name}" %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="text-center">
   <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
     <%= f.hidden_field :postal_code %>
     <%= f.hidden_field :address %>
     <%= f.hidden_field :name %>
     <%= f.hidden_field :payment_method %>
     <%= f.hidden_field :total_price %>
     <%= f.submit "購入を確定する", data: {confirm: "注文を確定しますか？"}, class: "btn btn-primary" %>
   <% end %>
  </div>
</div>